/* Colors variables as token */
:root {
  /* Neutral */
  --colorNeutralContentMedium: hsl(240 4% 32%);
  --colorNeutralContentStrong: hsl(240 5% 16%);
  --colorNeutralBorderMedium: hsl(240 20% 40% / 16%);
  --colorNeutralBackgroundStrong: hsl(0 0% 100%);
  --colorNeutralBackgroundMedium: hsl(240 15% 95%);

  /* Status */
  --colorStatusContentSuccess: hsl(120 100% 25%);
  --colorStatusContentError: hsl(0, 83%, 46%);

  /* Global */
  --colorGlobalBorderFocus: hsl(210 100% 42%);
  --colorGlobalAllDisabledStrong: hsl(240 5% 48%);
  --colorGlobalAllDisabledSoft: hsl(240 14% 90%);
  --colorGlobalOverlayMedium: hsl(240 60% 16% / 24%);

  /* Action / Primary */
  --colorActionPrimaryContentDefault: hsl(0 0% 100%);
  --colorActionPrimaryContentInteracting: hsl(0 0% 100%);
  --colorActionPrimaryBackgroundDefault: hsl(260 100% 65%);
  --colorActionPrimaryBackgroundInteracting: hsl(260 100% 58%);

  /* Action / Secondary */
  --colorActionSecondaryContentDefault: hsl(260 100% 62%);
  --colorActionSecondaryContentInteracting: hsl(260 100% 58%);
  --colorActionSecondaryBorderDefault: hsl(260 100% 80%);
  --colorActionSecondaryBorderInteracting: hsl(260 100% 73%);
  --colorActionSecondaryBackgroundDefault: hsl(0 0% 100%);
  --colorActionSecondaryBackgroundInteracting: hsl(260 100% 93%);

  /* Action / Tertiary */
  --colorActionTertiaryContentDefault: hsl(260 100% 62%);
  --colorActionTertiaryContentInteracting: hsl(260 100% 58%);
  --colorActionTertiaryBackgroundDefault: hsl(0 0% 100%);
  --colorActionTertiaryBackgroundInteracting: hsl(260 100% 93%);
  
  /* Edition */
  --colorEditionContentDefault: hsl(240 6% 45%);
  --colorEditionContentInteracting: hsl(260 100% 62%);
  --colorEditionBorderDefault: hsl(240 30% 16% / 48%);
  --colorEditionBorderInteracting: hsl(260 100% 62%);
}